nav{
    margin: auto;
}

nav>ul{
    display: flex;
    flex-flow: row nowrap;
}

nav>ul>li{
    text-align: center;
    list-style: none;
}

nav>ul>li:first-of-type{
    margin-right: 1vw;
}

nav>ul>li>a{
    font-family: "lato regular";
    color: #E8E1D7;
    text-decoration: none;
    font-size: 1.4rem;
}

nav>ul>li>a:hover{
    color: #F6A248;
    transition-delay: 200ms;
    transition-duration: 800ms;
}