.post{
    margin: 2vw auto;
    width: 40%;
    border: #C5226D solid 1px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.post>img{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    margin: auto;
}

svg{
    width: 4vw;
    height: 4vw;
}

.post>form{
    border: #C5226D solid 1px;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.post>form>input{
    margin: auto;
    border: none;
    background-color: white;
    color: #1FA49C;
    font-size: 0.9rem;
    font-family: "lato regular";
}

.post>form>input:hover{
    color: #133149;
    transition-delay: 200ms;
    transition-duration: 800ms;
}

.post>form>textarea{
    border: none;
    font-family: "lato regular";
    margin: auto;
    padding: 1%;
}